<!DOCTYPE html>
<html ng-app="project">

<head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"  />
    <link rel="stylesheet" href="/components/Swiper/dist/css/swiper.min.css">
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/input.css' />
    <link rel='stylesheet' href='/stylesheets/init.css' />
    <link rel='stylesheet' href='/stylesheets/output.css' />
    <link rel='stylesheet' href='/stylesheets/map.css' />
    <link rel='stylesheet' href='/stylesheets/history.css' />
    <link rel='stylesheet' href='/stylesheets/timeline.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/components/jquery-highlighttextarea/jquery.highlighttextarea.min.css' />
    <link rel='stylesheet' href='/components/angular-material/angular-material.css' />
    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/components/angular-animate/angular-animate.min.js"></script>
    <script src="/components/angular-aria/angular-aria.min.js"></script>
    <script src="/components/angular-material/angular-material.min.js"></script>
    <script src="/components/angular-messages/angular-messages.min.js"></script>
    <script src="/components/angular-route/angular-route.min.js"></script>
    <script src="/components/Swiper/dist/js/swiper.min.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="javascripts/timeline/modernizr.js"></script>
    <script src="/javascripts/event.js"></script>
    <script src="javascripts/animation.js"></script>
    <script src="/components/jquery-highlighttextarea/jquery.highlighttextarea.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

  </head>
  <body>
    <%- include header %>
    <div class="container" ng-controller="HttpPostController">
        <%- include init-container %>
        <%- include input-container %>
        <%- include output-container %>
        <%- include history-container %>
        <%- include map-container %>
        <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true
        });
        </script>
        <script src="javascripts/timeline/jquery.mobile.custom.min.js"></script>
        <script src="javascripts/timeline/main.js"></script>
    </div>
    <%- include footer %>
  </body>
</html>
