<!DOCTYPE html>
<html ng-app="project">
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/input.css' />
    <link rel='stylesheet' href='/stylesheets/init.css' />
    <link rel='stylesheet' href='/stylesheets/output.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/wowjs/dist/wow.min.js"></script>
    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-route/angular-route.min.js"></script>
    <script src="/javascripts/event.js"></script>
    <script>
        new WOW().init();
    </script>
    <script>
    window.addEventListener("load",function() {
   	// Set a timeout...
   	setTimeout(function(){
   		// Hide the address bar!
   		window.scrollTo(0, 1);
   	}, 0);
   });
</script>
    <script>
    $(function(){
        $(".btn-start").click(function(){
            $(".init-container").css("display", "none");
            $(".input-container").css("display", "block");
        })
        $(".btn-submit").click(function(){
            if ($(window).width() <= 767) {
                $(".input-container").css("display", "none");
             }
            $(".output-container").css("display", "none");
            $(".loader-box").css("display", "block");
        })
    });
    </script>
  </head>
  <body>
    <%- include header %>
    <div class="container">
        <%- include init-container %>
        <%- include input-container %>
        <%- include output-container %>
    </div>
    <%- include footer %>
  </body>
</html>
