<!DOCTYPE html>
<html ng-app="project">

<head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
    <link rel="stylesheet" href="/components/Swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="/components/isteven-multi-select/isteven-multi-select.css">
    <link rel="stylesheet" href="/components/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/input.css' />
    <link rel='stylesheet' href='/stylesheets/init.css' />
    <link rel='stylesheet' href='/stylesheets/output.css' />
    <link rel='stylesheet' href='/stylesheets/map.css' />
    <link rel='stylesheet' href='/stylesheets/history.css' />
    <link rel='stylesheet' href='/stylesheets/timeline.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/components/jquery-highlighttextarea/jquery.highlighttextarea.min.css' />
    <link rel='stylesheet' href='/components/angular-material/angular-material.css' />
    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/components/angular-animate/angular-animate.min.js"></script>
    <script src="/components/angular-aria/angular-aria.min.js"></script>
    <script src="/components/angular-material/angular-material.min.js"></script>
    <script src="/components/angular-messages/angular-messages.min.js"></script>
    <script src="/components/angular-route/angular-route.min.js"></script>
    
    <script src="/components/Swiper/dist/js/swiper.min.js"></script>
    <script src="/components/isteven-multi-select/isteven-multi-select.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="javascripts/timeline/modernizr.js"></script>
    <script src="/javascripts/event.js"></script>
    <script src="javascripts/animation.js"></script>
    <script src="/components/jquery-highlighttextarea/jquery.highlighttextarea.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
    <script src="https://use.fontawesome.com/cb4d544cb1.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
    <script src="/javascripts/initAutoComplete.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNY4wWrUxnjB-qfbYAdM6ISVfIdbMjStI&libraries=places"></script>
    <script src="/javascripts/addHospital.js"></script>
  </head>
  <body>
    <%- include header %>
    <div class="container" ng-controller="HttpPostController">
        <%- include init-container %>
        <%- include input-container %>
        <%- include output-container %>
        <%- include history-container %>
        <%- include map-container %>
        <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true
        });

        </script>
        <script src="javascripts/timeline/jquery.mobile.custom.min.js"></script>
        <script src="javascripts/timeline/main.js"></script>
    </div>
    <%- include footer %>
    
    <script>
    

    
    $(function(){
        
        $('.body-select').multiselect();

        $('.dropdown-menu').on('click', function(event) {
            event.stopPropagation();
        });

        
        $("#filter-dropdown").click(function(){
            if ($(".dropdown").hasClass('open')) 
                {$("#filter-search-button").css("border-bottom-right-radius", "4px");
                $("#filter-search-box").css("border-bottom-left-radius", "4px");} 
            else {
                $("#filter-search-button").css("border-bottom-right-radius", "0px");
                $("#filter-search-box").css("border-bottom-left-radius", "0px");
            };
            
        })

        $(".btn-start").click(function(){
            $(".init-container").css("display", "none");
            $(".swiper-container").css("display", "none");
            $(".input-container").css("display", "block");
        })
        $(".btn-submit").click(function(){
            if ($(window).width() <= 767) {
                $(".input-container").css("display", "none");
             }
            $(".result-container").css("display", "none");
            $(".output-container").css("display", "none");
            $(".loader-box").css("display", "block");
        })


        if ($(window).width() > 767)
        {
            $(".init-box-1").addClass("animated fadeInUp");
            $(".init-box-1").css("display", "block");
            setTimeout(function(){
                $(".init-box-2").addClass("animated fadeInUp");
                $(".init-box-2").css("display", "block");
            }, 400);
            setTimeout(function(){
                $(".init-box-3").addClass("animated fadeInUp");
                $(".init-box-3").css("display", "block");
            }, 800);
            setTimeout(function(){
                $(".btn-start").addClass("animated fadeInUp");
                $(".btn-start").css("display", "inline-block");
            }, 1200);
        }
        //test
        //$(".btn-warning").click(function(){

            //})
        });
    </script>

  </body>
</html>
